<div id="app">

  <!-- <div id="topBanner">
      <h1>Squares Demo</h1>
  </div> -->

  <!-- <script type="text/x-kendo-tmpl" id="mill_squares_template">
       <div class="ibe-listview-item ${TestCat}" 
          data-site="${Site}"
          data-monthNum = "${MonthNum}"
          data-testcat="${TestCat}">
         <table cellspacing="1" cellpadding="1" border="0">
           <tr><td><b>${Site}</b></tr>
           <tr><td><b>${Month}</b></tr>
           <tr><td><b>${TestCat}</b></tr>
         </table>
       </div>
  </script> -->
  <div id="lv"></div>

  <div id="sortAndFilterContainer">
      <div>Select Sort
          <ul id="ulSortButtons" class="ulBtnInline">
              <li><input type="button" value="Site" id="listviewSort1" class="sortButtons"></li>
              <li><input type="button" value="MonthNum" id="listviewSort2" class="sortButtons"></li>
              <li><input type="button" value="TestCat" id="listviewSort3" class="sortButtons"></li>
          </ul>
      </div>

      <div>Select Filter (TestCat)
          <ul id="ulFilterButtons" class="ulBtnInline">
              <li><input type="button" value="A" class="filterButtons"></li>
              <li><input type="button" value="B" class="filterButtons"></li>
              <li><input type="button" value="C" class="filterButtons"></li>
              <li><input type="button" value="Clear Filter" class="filterButtons"></li>
          </ul>
      </div>

      <!-- <div>Select Alert Value
          <ul id="ulAlertValueButtons" class="ulBtnInline">
              <li><input type="button" value="Mined" id="listviewAlertMined" class="alertButtons"></li>
              <li><input type="button" value="Drill" id="listviewAlertDrill" class="alertButtons"></li>
              <li><input type="button" value="Safety" id="listviewAlertSafety" class="alertButtons"></li>
              <li><input type="button" value="Response" id="listviewAlertResponse" class="alertButtons"></li>
          </ul>
      </div> -->
      <button class="btn-danger btn-lg" id="btnTest">Test</button>
  </div>

  <div id="drillPage">
  </div>



  
</div>