<div class="example-wrapper">
    <!-- <button kendoButton *ngIf="!opened" (click)="open()">Open dialog</button> -->
    <kendo-dialog *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="1024" [height]="768" >
            <kendo-dialog-titlebar color="red" style="background-color: rebeccapurple"><h3 style="font-size: 136%;">{{title}}</h3></kendo-dialog-titlebar>
           
            <p><label><b>The Language of: </b></label> {{languageOf}} </p>
            <p><label><b>Overview: </b></label> {{overview}} </p>
            <p><label><b>Communcation: </b></label> {{communication}} </p>
            <p><label><b>Other Leaders: </b></label> {{otherLeaders}} </p>


            <div class="row">
                    <div class="col-6">     <app-bar [categories]="primaryCategories" [data]="primaryData" [title]="primaryTitle"></app-bar></div>
                    <div class="col-6">
                        <app-bar [categories]="genderCateogires" [data]="genderData" [title]="genderTital"></app-bar>
                        <!-- <app-donut></app-donut> -->
                    </div>
            </div>
    </kendo-dialog>
</div>