<div class="example-wrapper">
    <!-- <button kendoButton *ngIf="!opened" (click)="open()">Open dialog</button> -->
    <kendo-dialog *ngIf="opened" (close)="close('cancel')" [minWidth]="250" [width]="1024" [height]="768" >
            <kendo-dialog-titlebar *ngIf="innovation" class="box11" color="red" ><h3 style="font-size: 136%;">{{title}}</h3></kendo-dialog-titlebar>
            <kendo-dialog-titlebar *ngIf="passion"    class="box21" color="red" ><h3 style="font-size: 136%;">{{title}}</h3></kendo-dialog-titlebar>
            <kendo-dialog-titlebar *ngIf="power"      class="box31" color="red" ><h3 style="font-size: 136%;">{{title}}</h3></kendo-dialog-titlebar>
            <kendo-dialog-titlebar *ngIf="prestige"   class="box41" color="red" ><h3 style="font-size: 136%;">{{title}}</h3></kendo-dialog-titlebar>
            <kendo-dialog-titlebar *ngIf="trust"      class="box51" color="red" ><h3 style="font-size: 136%;">{{title}}</h3></kendo-dialog-titlebar>
            <kendo-dialog-titlebar *ngIf="mystique"   class="box61" color="red" ><h3 style="font-size: 136%;">{{title}}</h3></kendo-dialog-titlebar>
            <kendo-dialog-titlebar *ngIf="alert"      class="box71" color="red" ><h3 style="font-size: 136%;">{{title}}</h3></kendo-dialog-titlebar>

<!--            
            <p><label><b>The Language of: </b></label> {{languageOf}} </p>
            <p><label><b>Overview: </b></label> {{overview}} </p>
            <p><label><b>Communcation: </b></label> {{communication}} </p>
            <p><label><b>Other Leaders: </b></label> {{otherLeaders}} </p>


            <div class="row">
                    <div class="col-6">     <app-bar [categories]="primaryCategories" [data]="primaryData" [title]="primaryTitle"></app-bar></div>
                    <div class="col-6">
                        <app-bar [categories]="genderCateogires" [data]="genderData" [title]="genderTital"></app-bar>
                  
                    </div>
            </div> -->

            <kendo-splitter orientation="vertical" style="height: 668px;">

                <kendo-splitter-pane>
                  <kendo-splitter>
        
                    <!-- <kendo-splitter-pane [collapsible]="true" size="30%">
                      <div class="pane-content">
                        <h3>Inner splitter / left pane</h3>
                        <p>Resizable and collapsible.</p>
                      </div>
                    </kendo-splitter-pane> -->
                    <kendo-splitter-pane>
                      <div class="pane-content">
                        <kendo-grid
                        [data]="gridView"
                        [pageSize]="pageSize"
                        [skip]="skip"
                        [pageable]="true"
                        (pageChange)="pageChange($event)"
                        [height]="314"
                        [selectable]="true"
                        (selectionChange)="selected($event)"          
                        >
                        <!-- <kendo-grid-checkbox-column showSelectAll="true"></kendo-grid-checkbox-column> -->
                        <kendo-grid-column field="fuserid" title="User ID" [width]="150"></kendo-grid-column>
                        <kendo-grid-column field="organization" title="Organization"></kendo-grid-column>
                        <!-- <kendo-grid-column field="UnitsOnOrder" title="Units On Order"></kendo-grid-column>
                        <kendo-grid-column field="ReorderLevel" title="Reorder Level"></kendo-grid-column> -->
                    </kendo-grid>
                      </div>
                    </kendo-splitter-pane>
        
                    <kendo-splitter-pane [collapsible]="true" size="50%">
                      <div class="pane-content">
                        <p><label><b>The Language of: </b></label> {{languageOf}} </p>
                        <p><label><b>Overview: </b></label> {{overview}} </p>
                        <p><label><b>Communcation: </b></label> {{communication}} </p>
                        <p><label><b>Other Leaders: </b></label> {{otherLeaders}} </p>
                      </div>
                    </kendo-splitter-pane>
        
                  </kendo-splitter>
                </kendo-splitter-pane>
        
                <!-- <kendo-splitter-pane size="100px">
                  <div class="pane-content">
                    <h3>Outer splitter / Middle pane</h3>
                    <p>Resizable only.</p>
                  </div>
                </kendo-splitter-pane> -->
        
                <kendo-splitter-pane [resizable]="false" size="350px">
                  <div class="pane-content">
                    <kendo-tabstrip (tabSelect)="onTabSelect($event)" >

                        <kendo-tabstrip-tab [title]="'Advantage Overview Scores'">
                            <ng-template kendoTabContent>
                                  <!-- Tab Content -->
                                  <app-bar [categories]="primaryCategories" [data]="primaryData" [title]="primaryTitle"></app-bar>
                                  
                            </ng-template>
                          </kendo-tabstrip-tab>
                        <kendo-tabstrip-tab [title]="'Indvidual Advantage Scores'" [selected]="true">
                          <ng-template kendoTabContent>
                                <!-- Tab Content -->
        
                               

                                <div class="row">
                                  <div class="col-6">
                                      <div *ngIf="!primaryIndividualData" style="text-align: center">Select A User Above!</div>
                                      <app-bar  *ngIf="primaryIndividualTitle" [categories]="primaryIndividualCategories" [data]="primaryIndividualData" [title]="primaryIndividualTitle"></app-bar>
                                  </div>
                                  <div class="col-6">
                                      <!-- <div *ngIf="!primaryIndividualData" style="text-align: center">Select A User Above!</div>
                                      <app-bar  *ngIf="primaryIndividualTitle" [categories]="primaryIndividualCategories" [data]="primaryIndividualData" [title]="primaryIndividualTitle"></app-bar> -->
                                      <app-stacked-bar  *ngIf="primaryAndSecondaryScoresArray" [dataIn]="primaryAndSecondaryScoresArray" [primaryPercentage]="primaryPercentage"
                                      [secondaryPercentage]="secondaryPercentage"></app-stacked-bar>
                                  </div>
                                </div>
                          </ng-template>
                        </kendo-tabstrip-tab>
                        
                        <kendo-tabstrip-tab [title]="'Gender Distribution'">
                          <ng-template kendoTabContent>
                                <!-- Tab Content -->
                                <!-- <app-bar [categories]="genderCateogires" [data]="genderData" [title]="genderTital"></app-bar> -->
                                <!-- <app-pie [males] ="totalMales" [type]="pieTypes.archetype" [females]="totalFemales"></app-pie>

                                <app-pie [males] ="totalMales" [type]="pieTypes.pop" [females]="totalFemales"></app-pie> -->

                                <div class="row">
                                  <div class="col-6"><app-pie [males] ="totalMales" [others]="totalOthers" [type]="'archetype'" [females]="totalFemales" [title]="'Gender by Archetype'"></app-pie></div>
                                  <!-- <div class="col-6"><app-pie [males] ="totalMales" [type]="'pop'" [females]="totalFemales" [title]="'Gender by Population'"></app-pie> </div> -->
                                  <kendo-chart class="col-6">
                                    <kendo-chart-legend [visible]="true">
                                      <!--              ^^^^^^^^^
                                           Note the binding is required,
                                           otherwise the property will be
                                           bound to a 'false' string.
                                      -->
                                    </kendo-chart-legend>

                                    <kendo-chart-title text="Gender by Conference, Orgnization, Archetype"></kendo-chart-title>
                                    <kendo-chart-category-axis>
                                        <kendo-chart-category-axis-item [categories]="['Females', 'Males', 'Others']">
                                        </kendo-chart-category-axis-item>
                                    </kendo-chart-category-axis>

                                    <kendo-chart-series>
                                      <kendo-chart-series-item name="Conference" field="Total" category="Type" [labels]="seriesLabels" type="bar"  [gap]="1" [spacing]=".25" [data]="conferenceData" >
                                      </kendo-chart-series-item>
                                      <kendo-chart-series-item name="Organization" [labels]="seriesLabels" field="Total" category="Type" type="bar" [data]="organizationData">
                                      </kendo-chart-series-item>
                                      <kendo-chart-series-item name="Archetype" [labels]="seriesLabels" field="Total" category="Type" type="bar" [data]="boxData">
                                      </kendo-chart-series-item>
                                    
                                    </kendo-chart-series>
                                  </kendo-chart>
                                </div>
                          </ng-template>
                        </kendo-tabstrip-tab>

                      </kendo-tabstrip>
                  </div>
                </kendo-splitter-pane>

            </kendo-splitter>

    </kendo-dialog>

    <kendo-dialog *ngIf="videoBox" (close)="close('cancel')" [minWidth]="250" [width]="1024" [height]="768">
     <kendo-dialog-titlebar  
     [class.box11]="videoBoxTitle === 'innovation'"
     [class.box21]="videoBoxTitle === 'passion'"
     [class.box31]="videoBoxTitle === 'power'"
     [class.box41]="videoBoxTitle === 'prestige'"
     [class.box51]="videoBoxTitle === 'trust'"
     [class.box61]="videoBoxTitle === 'mystique'"
     [class.box71]="videoBoxTitle === 'alert'">
     
     <h3>{{videoBoxTitle | titlecase}}</h3></kendo-dialog-titlebar>


     
      <iframe width="990" *ngIf="videoBoxTitle === 'innovation'" height="665" src="https://www.youtube.com/embed/CLLzliwsCP8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <iframe width="990" *ngIf="videoBoxTitle === 'passion'" height="665" src="https://www.youtube.com/embed/BsbTeUl555A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <iframe width="990" *ngIf="videoBoxTitle === 'power'" height="665" src="https://www.youtube.com/embed/pkB4uAS2XDw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <iframe width="990" *ngIf="videoBoxTitle === 'prestige'" height="665" src="https://www.youtube.com/embed/wTqxAO2ZXtM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <iframe width="990" *ngIf="videoBoxTitle === 'trust'" height="665" src="https://www.youtube.com/embed/kkv3yamyzdw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <iframe width="990" *ngIf="videoBoxTitle === 'mystique'" height="665" src="https://www.youtube.com/embed/UuBY5tJAI4c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <iframe width="990" *ngIf="videoBoxTitle === 'alert'" height="665" src="https://www.youtube.com/embed/qdkCw_UiwD0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    </kendo-dialog>
</div>