<div class="container-fluid">
        <div class="row gridLabelTop">SECONDARY</div>
        <div class="row" *ngFor="let item of advantages; let x = index" [attr.id]="'boxRow' + x" >
            
            <div class="col" *ngFor="let item2 of advantages; let y = index" [ngClass]="'padding-0'" (click)="boxClicked(x, y)">
                <div class="box" [attr.id]="'box' + x + y" >
                    
                    <div *ngIf="x === 0 && y !== 0" >
                        <app-colrow-header [title]="item2.title" [subtitle]="item2.subtitle" [rune]="item2.rune"></app-colrow-header>
                    </div>
                    <div *ngIf="y === 0 && x !== 0" >
                        <app-colrow-header [title]="item.title" [subtitle]="item.subtitle" [rune]="item.rune"></app-colrow-header>
                    </div>

                    <div *ngIf="x === 1 && y === y && y !== 0" >
                        <app-grid-tile [x]="x" [y]="y"></app-grid-tile>
                    </div>

                    <div *ngIf="x === 2 && y === y && y !== 0" >
                        <app-grid-tile [x]="x" [y]="y"></app-grid-tile>
                    </div>

                    <div *ngIf="x === 3 && y === y && y !== 0" >
                        <app-grid-tile  [x]="x" [y]="y"></app-grid-tile>
                    </div>

                    <div *ngIf="x === 4 && y === y && y !== 0" >
                        <app-grid-tile [x]="x" [y]="y"></app-grid-tile>
                    </div>

                    <div *ngIf="x === 5 && y === y && y !== 0" >
                        <app-grid-tile [x]="x" [y]="y"></app-grid-tile>
                    </div>

                    <div *ngIf="x === 6 && y === y && y !== 0" >
                        <app-grid-tile [x]="x" [y]="y"></app-grid-tile>
                    </div>
    
                    <div *ngIf="x === 7 && y === y && y !== 0" >
                        <app-grid-tile [x]="x" [y]="y"></app-grid-tile>
                    </div>
                    
                </div>            
            </div>
        </div>
</div>
     
    
     
    
    