.card-container {
    perspective: 700;
}

.databox{
    color: white;
    font-size: 1.5em;
    text-align:  center;
    padding-top: 25%;
}


.frot {
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}

.back {
    color: black;
    background-color: gray;
    height: 120px;
    font-size: 1em;
    text-align:  center;
    padding-top: 25%;

}

// .card-container {
//     perspective: 700;
// }

// .front {

//     transform-style: preserve-3d;
// }

// .back {
//     transform: rotateY(180deg);
// }