<kendo-chart [categoryAxis]="{ categories: categories }" style="border: none" style="padding-bottom: 180px">
    <kendo-chart-area background="transparent" [margin]="0"   [height]="300">
    </kendo-chart-area>
    <kendo-chart-legend position="bottom" orientation="horizontal"></kendo-chart-legend>
    <kendo-chart-tooltip format="{0}%"></kendo-chart-tooltip>
    <kendo-chart-series>
      <kendo-chart-series-item *ngFor="let item of series" 
      type="line" 
      [data]="item.data" 
      [name]="item.name">   
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
  