<kendo-chart style="padding-bottom: 70px">
    <kendo-chart-area background="transparent" [margin]="2">
      </kendo-chart-area>
    <kendo-chart-title text="title"></kendo-chart-title>
    <kendo-chart-category-axis>
        <kendo-chart-category-axis-item [categories]="categories">
        </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item type="bar" [gap]="2" [spacing]=".25" [data]="data">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>