<kendo-chart [title]="title">
  <kendo-chart-series>
    <kendo-chart-series-item type="radarLine"
                             name="Market value as of 2007"
                             [data]="data" field="Total" categoryField="Advantage">
    </kendo-chart-series-item>
    
  </kendo-chart-series>
  <kendo-chart-value-axis>
      <kendo-chart-value-axis-item [labels]="{ format: '0' }">
      </kendo-chart-value-axis-item>
  </kendo-chart-value-axis>
  <kendo-chart-legend position="bottom"></kendo-chart-legend>
</kendo-chart>