<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img id="navLogo" src="../../../assets/images/htf-logo.svg">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
    </ul>

    
    <div class="form-inline my-2 my-lg-12 ">

        <select class="form-control  conferences nav-ele"  #selectCon (change)="changeConference($event)" id="power" required>
            <option  >View All</option>
            <option  >ACMP18</option>
            <option   > ICON2015</option>
          </select>
        <select class="form-control  organizations nav-ele" #selectOrg  (change)="changeOrganization($event)" id="power" required>
        <option   *ngFor = "let organization of organizations" >{{organization.organization}}</option>
        </select>

        <button class="btn btn-outline-secondary my-2 my-sm-0 nav-ele" (click)="resetMatrix()">Reset</button>
        <a class="navbar-brand" href="#">
            <img id="InfoSolLogo" src="../../../assets/images/infosol-logo.svg">
        </a>

    </div>
  </div>
</nav>