$innovation:  #EDA716;
$innovation11:#EDA716;
$innovation12:  #ED9716;
$innovation13:  #ED8C16;
$innovation14:  #ED8916;
$innovation15:  #ED7E16;
$innovation16:  #ED6516;
$innovation17:  #ED5A16;
$passion:   #B74A2A;
$passion21: #B74A2A;
$passion22: #B7462A;
$passion23: #B7422A;
$passion24: #B7312A;
$passion25: #B72D2A;
$passion26: #B7282B;
$passion27: #B7232B;
$power:     #82181B;
$power31: #82181B;
$power32: #82141B;
$power33: #820F1A;
$power34: #820A1A;
$power35: #82051A;
$power36: #82001A;
$power37: #700218;
$pretigue: #472656;
$prestige41: #472656;
$prestige42: #472156;
$prestige43: #471C56;
$prestige44: #471756;
$prestige45: #481256;
$prestige46: #470D56;
$prestige47: #460856;
$trust: #223D6E;
$trust51: #223D6E;
$trust52: #22386E;
$trust53: #22336E;
$trust54: #222D6E;
$trust55:#22286E;
$trust56:#22236E;
$trust57:#221E6E;
$mystique: #005B5D;
$mystique61: #005B5D;
$mystique62: #00555D;
$mystique63: #00515D;
$mystique64: #004A5D;
$mystique65:#00465D;
$mystique66:#00415D;
$mystique67:#003C5D;
$alert: #285A17;
$alert71: #285A17;
$alert72: #285517;
$alert73: #285017;
$alert74: #284B17;
$alert75:#284617;
$alert76:#284117;
$alert77:#283C17;
